Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

Air Arkanoid
  .gitmodules
  air_arkanoid/.gitmodules
  air_arkanoid/application.fam
  air_arkanoid/assets/sprites/logo_air.fxbm
  air_arkanoid/assets/sprites/logo_arkanoid.fxbm
  air_arkanoid/fonts/fonts.c
  air_arkanoid/fonts/fonts.h
  air_arkanoid/game.c
  air_arkanoid/game.h
  air_arkanoid/game_settings.c
  air_arkanoid/game_settings.h
  air_arkanoid/icon.png
  air_arkanoid/levels/level_game.c
  air_arkanoid/levels/level_game.h
  air_arkanoid/levels/level_menu.c
  air_arkanoid/levels/level_menu.h
  air_arkanoid/levels/level_message.c
  air_arkanoid/levels/level_message.h
  air_arkanoid/levels/level_settings.c
  air_arkanoid/levels/level_settings.h
  air_arkanoid/sprites/logo_air.png
  air_arkanoid/sprites/logo_arkanoid.png
Owners: @skotopes, @DrZlo13, @hedger

delete unneeded .gitmodules
  air_arkanoid/.gitmodules
Owners: @skotopes, @DrZlo13, @hedger

recursive submodules
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

Crypto1 isn't in the api so we carry it with us
  nfc_magic/lib/magic/protocols/gen2/crypto1.c
  nfc_magic/lib/magic/protocols/gen2/crypto1.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Dict attack view
  nfc_magic/nfc_magic_app.c
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_dict_attack_success.c
  nfc_magic/scenes/nfc_magic_scene_mf_classic_dict_attack.c
  nfc_magic/views/dict_attack.c
  nfc_magic/views/dict_attack.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Gen2 poller
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.h
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.h
  nfc_magic/lib/magic/protocols/nfc_magic_protocols.c
  nfc_magic/lib/magic/protocols/nfc_magic_protocols.h
  nfc_magic/nfc_magic_app_i.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Write scene Gen2 support and typo fix
  nfc_magic/scenes/nfc_magic_scene_write.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Magic scanner Gen2 support
  nfc_magic/lib/magic/nfc_magic_scanner.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Magic Gen2 scenes
  nfc_magic/scenes/nfc_magic_scene_check.c
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_file_select.c
  nfc_magic/scenes/nfc_magic_scene_gen2_menu.c
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
  nfc_magic/scenes/nfc_magic_scene_mf_classic_write_check.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Fix leftovers from a different menu structure
  nfc_magic/scenes/nfc_magic_scene_dict_attack_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Remove private API includes
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Fix crash on exit
  nfc_magic/nfc_magic_app.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Gen2 ATS request
  nfc_magic/lib/magic/nfc_magic_scanner.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.h
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

VGM apps descriptions fix
  air_arkanoid/.catalog/CHANGELOG.md
  air_arkanoid/.catalog/README.md
  air_arkanoid/.catalog/changelog.md
  air_arkanoid/application.fam
  air_mouse/.catalog/CHANGELOG.md
  air_mouse/.catalog/README.md
  air_mouse/application.fam
  video_game_module_tool/.catalog/README.md
  video_game_module_tool/application.fam
Owners: @skotopes, @DrZlo13, @hedger

Gen2 wipe and interface improvements
  nfc_magic/lib/magic/nfc_magic_scanner.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.h
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.h
  nfc_magic/lib/magic/protocols/nfc_magic_protocols.h
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_check.c
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_dict_attack_success.c
  nfc_magic/scenes/nfc_magic_scene_gen2_write_check.c
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
  nfc_magic/scenes/nfc_magic_scene_mf_classic_dict_attack.c
  nfc_magic/scenes/nfc_magic_scene_mf_classic_menu.c
  nfc_magic/scenes/nfc_magic_scene_wipe.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

UID length checks and better warning scenes
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/scenes/nfc_magic_scene_gen2_write_check.c
  nfc_magic/scenes/nfc_magic_scene_mf_classic_write_check.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Code cleanup
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.h
  nfc_magic/nfc_magic_app.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Edge case fixes
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

NFC Nagic: fix build for api 57.0
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Added W25Q512JV support for spi mem manger app.
  spi_mem_manager/.catalog/changelog.md
  spi_mem_manager/application.fam
  spi_mem_manager/lib/spi/spi_mem_chip_arr.c
Owners: @skotopes, @DrZlo13, @hedger

deleted get config and get revision subitems. new menu subitem: Info
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_gen4_get_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_revision.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_rev.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Air Arkanoid: sound and visual fx
  air_arkanoid/game.h
  air_arkanoid/levels/level_game.c
  air_arkanoid/sounds/sounds.c
  air_arkanoid/sounds/sounds.h
Owners: @skotopes, @DrZlo13, @hedger

Air Arkanoid: tiled map loader, round block
  air_arkanoid/assets/levels/1.flaam
  air_arkanoid/levels/level_game.c
  air_arkanoid/sounds/sounds.c
  air_arkanoid/tiled/flaam.js
Owners: @skotopes, @DrZlo13, @hedger

Air Arkanoid: tiled circle validation
  air_arkanoid/tiled/flaam.js
Owners: @skotopes, @DrZlo13, @hedger

Air Arkanoid: better damage fx
  air_arkanoid/levels/level_game.c
  air_arkanoid/levels/level_menu.c
Owners: @skotopes, @DrZlo13, @hedger

Air Arkanoid: impact fx, organize entities
  air_arkanoid/levels/entities/ball.c
  air_arkanoid/levels/entities/ball.h
  air_arkanoid/levels/entities/block.c
  air_arkanoid/levels/entities/block.h
  air_arkanoid/levels/entities/block_debris.c
  air_arkanoid/levels/entities/block_debris.h
  air_arkanoid/levels/entities/events.h
  air_arkanoid/levels/entities/paddle.c
  air_arkanoid/levels/entities/paddle.h
  air_arkanoid/levels/level_game.c
Owners: @skotopes, @DrZlo13, @hedger

Fix wiping bug
  nfc_magic/lib/magic/protocols/gen2/crypto1.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Fix imports
  nfc_magic/lib/magic/protocols/gen2/crypto1.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Air Arkanoid: levels update
  air_arkanoid/assets/levels/1.flaam
  air_arkanoid/assets/levels/2.flaam
  air_arkanoid/assets/levels/3.flaam
  air_arkanoid/game.c
  air_arkanoid/game.h
  air_arkanoid/game_settings.c
  air_arkanoid/game_settings.h
  air_arkanoid/levels/entities/ball.c
  air_arkanoid/levels/entities/ball.h
  air_arkanoid/levels/entities/block.c
  air_arkanoid/levels/entities/block_debris.c
  air_arkanoid/levels/entities/paddle.c
  air_arkanoid/levels/entities/paddle.h
  air_arkanoid/levels/level_game.c
  air_arkanoid/levels/level_menu.c
  air_arkanoid/levels/level_message.c
  air_arkanoid/levels/level_message.h
  air_arkanoid/levels/level_pause.c
  air_arkanoid/levels/level_pause.h
  air_arkanoid/levels/level_settings.c
  air_arkanoid/levels/level_settings.h
  air_arkanoid/sounds/sounds.c
  air_arkanoid/sounds/sounds.h
  air_arkanoid/tiled/air_arkanoid.tiled-project
  air_arkanoid/tiled/air_arkanoid.tiled-session
  air_arkanoid/tiled/level 1.tmx
  air_arkanoid/tiled/level 2.tmx
  air_arkanoid/tiled/level 3.tmx
  air_arkanoid/tiled/level_template.tmx
Owners: @skotopes, @DrZlo13, @hedger

Updated about scene version number
  spi_mem_manager/scenes/spi_mem_scene_about.c
Owners: @skotopes, @DrZlo13, @hedger

Changed about scene version to be set by build system FAP_VERSION
  spi_mem_manager/scenes/spi_mem_scene_about.c
Owners: @skotopes, @DrZlo13, @hedger

AirArkanoid: Fix python3 on windows
  air_arkanoid/application.fam
Owners: @skotopes, @DrZlo13, @hedger

AirArkanoid: Fix for python3 windows distributions
  air_arkanoid/application.fam
Owners: @skotopes, @DrZlo13, @hedger

Clock: update to new datetime api
  clock/clock_app.c
Owners: @skotopes, @DrZlo13, @hedger

Clock: bump version
  clock/application.fam
Owners: @skotopes, @DrZlo13, @hedger

WS: Update API
  weather_station/.catalog/changelog.md
  weather_station/application.fam
  weather_station/protocols/ws_generic.c
  weather_station/views/weather_station_receiver_info.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

AVR_ISP: Update API v58.0
  avr_isp_programmer/.catalog/changelog.md
  avr_isp_programmer/application.fam
  avr_isp_programmer/scenes/avr_isp_scene_input_name.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

AVR ISP: proper version in about
  avr_isp_programmer/helpers/avr_isp_types.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

AVR_ISP: update icons to black and white
  avr_isp_programmer/.catalog/changelog.md
  avr_isp_programmer/application.fam
  avr_isp_programmer/avr_app_icon_10px.png
  avr_isp_programmer/avr_app_icon_10x10.png
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Air Mouse app version bump
  air_mouse/.catalog/CHANGELOG.md
  air_mouse/application.fam
Owners: @skotopes, @DrZlo13, @hedger

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm
