Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm

Share MfClassicNonce mfkey32/nested param memory
  mfkey/mfkey.h
Owners: @skotopes, @DrZlo13, @hedger

Thread alloc ex
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Simplify text drawing slightly
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Ensure progress bar is within bounds before drawing
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Simplify thread usage, fix very rare but possible race condition
  mfkey/mfkey.c
  mfkey/mfkey.h
Owners: @skotopes, @DrZlo13, @hedger

Memory improvements by @Willy-JL
  mfkey/init_plugin.c
  mfkey/mfkey.c
  mfkey/mfkey.h
Owners: @skotopes, @DrZlo13, @hedger

Add developer
  mfkey/.catalog/README.md
Owners: @skotopes, @DrZlo13, @hedger

Assets added
  nfc_eink/application.fam
  nfc_eink/assets/ArrowC_1_36x36.png
  nfc_eink/assets/DolphinDone_80x58.png
  nfc_eink/assets/DolphinMafia_119x62.png
  nfc_eink/assets/DolphinSaved_92x58.png
  nfc_eink/assets/NFC_dolphin_emulation_51x64.png
  nfc_eink/assets/NFC_manual_60x50.png
  nfc_eink/assets/Nfc_10px.png
  nfc_eink/assets/WarningDolphin_45x42.png
  nfc_eink/assets/err_09.png
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_i.h
  nfc_eink/nfc_eink_screen/nfc_eink_screen.h
  nfc_eink/nfc_eink_screen/nfc_eink_types.h
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
  nfc_eink/scenes/scene_choose_manufacturer.c
  nfc_eink/scenes/scene_choose_screen.c
  nfc_eink/scenes/scene_delete.c
  nfc_eink/scenes/scene_delete_success.c
  nfc_eink/scenes/scene_emulate.c
  nfc_eink/scenes/scene_error.c
  nfc_eink/scenes/scene_exit_confirm.c
  nfc_eink/scenes/scene_file_select.c
  nfc_eink/scenes/scene_info.c
  nfc_eink/scenes/scene_save_name.c
  nfc_eink/scenes/scene_save_success.c
  nfc_eink/scenes/scene_screen_menu.c
  nfc_eink/scenes/scene_settings.c
  nfc_eink/scenes/scene_show_image.c
  nfc_eink/scenes/scene_start.c
  nfc_eink/scenes/scene_write.c
  nfc_eink/scenes/scene_write_done.c
  nfc_eink/views/eink_progress.c
Owners: @skotopes, @DrZlo13, @hedger

nfc_eink_app_i.h added
  nfc_eink/nfc_eink_app.c
  nfc_eink/nfc_eink_app.h
  nfc_eink/nfc_eink_app_i.h
  nfc_eink/nfc_eink_screen/nfc_eink_screen.c
Owners: @skotopes, @DrZlo13, @hedger

All screen types are now aligned
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_config.c
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_config.h
  nfc_eink/nfc_eink_screen/nfc_eink_screen_infos.c
  nfc_eink/nfc_eink_screen/nfc_eink_screen_infos.h
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_config.c
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_config.h
Owners: @skotopes, @DrZlo13, @hedger

New goodisplay poller logic
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodispaly_poller.c
Owners: @skotopes, @DrZlo13, @hedger

update image
  flip_tdi/.catalog/screenshots/2.png
  flip_tdi/.catalog/screenshots/3.png
  flip_tdi/.catalog/screenshots/4.png
  flip_tdi/images/flip_tdi_wiring_gpio.png
  flip_tdi/images/flip_tdi_wiring_spi.png
  flip_tdi/images/flip_tdi_wiring_uart.png
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix size screenshots
  flip_tdi/.catalog/screenshots/1.png
  flip_tdi/.catalog/screenshots/2.png
  flip_tdi/.catalog/screenshots/3.png
  flip_tdi/.catalog/screenshots/4.png
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix size screenshots
  flip_tdi/.catalog/screenshots/1.png
  flip_tdi/.catalog/screenshots/2.png
  flip_tdi/.catalog/screenshots/3.png
  flip_tdi/.catalog/screenshots/4.png
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix image
  flip_tdi/.catalog/screenshots/1.png
  flip_tdi/.catalog/screenshots/2.png
  flip_tdi/.catalog/screenshots/3.png
  flip_tdi/.catalog/screenshots/4.png
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix image (#249)
  flip_tdi/.catalog/screenshots/1.png
  flip_tdi/.catalog/screenshots/2.png
  flip_tdi/.catalog/screenshots/3.png
  flip_tdi/.catalog/screenshots/4.png
Owners: @skotopes, @DrZlo13, @hedger

Bump version to v1.13
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

[NFC Magic] Gen1 backdoor read support (#228)
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
  nfc_magic/magic/protocols/gen1a/gen1a_poller.c
  nfc_magic/magic/protocols/gen1a/gen1a_poller.h
  nfc_magic/magic/protocols/gen1a/gen1a_poller_i.c
  nfc_magic/magic/protocols/gen1a/gen1a_poller_i.h
  nfc_magic/nfc_magic_app.c
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_dump.c
  nfc_magic/scenes/nfc_magic_scene_dump_fail.c
  nfc_magic/scenes/nfc_magic_scene_gen1_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen1_save_name.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

New api fix
  nfc_eink/views/image_scroll.c
Owners: @skotopes, @DrZlo13, @hedger

New error processing logic and api
  nfc_eink/nfc_eink_app_i.h
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodispaly_poller.c
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_i.h
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_listener.c
  nfc_eink/nfc_eink_screen/nfc_eink_screen.c
  nfc_eink/nfc_eink_screen/nfc_eink_screen.h
  nfc_eink/nfc_eink_screen/nfc_eink_screen_i.h
  nfc_eink/nfc_eink_screen/nfc_eink_types.h
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_i.h
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_listener.c
Owners: @skotopes, @DrZlo13, @hedger

Waceshare poller fixes and retry mechanism
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_i.h
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
Owners: @skotopes, @DrZlo13, @hedger

Scenes adjustments according to new error logic in eink screens
  nfc_eink/scenes/scene_choose_screen.c
  nfc_eink/scenes/scene_emulate.c
  nfc_eink/scenes/scene_error.c
  nfc_eink/scenes/scene_write.c
Owners: @skotopes, @DrZlo13, @hedger

Fix after mf classic logic adjustments
  nfc_magic/scenes/nfc_magic_scene_mf_classic_dict_attack.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Update changelog
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

strcat replaced to strlcat
  nfc_eink/scenes/scene_save_name.c
Owners: @skotopes, @DrZlo13, @hedger

Reworked logic of descriptors handling and filtering
  nfc_eink/nfc_eink_screen/nfc_eink_screen_infos.c
  nfc_eink/nfc_eink_screen/nfc_eink_screen_infos.h
Owners: @skotopes, @DrZlo13, @hedger

Now eink screen inits using name instead of screen type
  nfc_eink/nfc_eink_screen/nfc_eink_screen.c
  nfc_eink/nfc_eink_screen/nfc_eink_screen.h
  nfc_eink/nfc_eink_screen/nfc_eink_screen_i.h
Owners: @skotopes, @DrZlo13, @hedger

Waveshare screen config logic reworked
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare.c
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_config.c
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_config.h
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
Owners: @skotopes, @DrZlo13, @hedger

Goodisplay screen config logic reworked
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay.c
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_config.c
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_config.h
Owners: @skotopes, @DrZlo13, @hedger

Now file load function can return 3 different states, depending on user input and load status
  nfc_eink/nfc_eink_app.c
  nfc_eink/nfc_eink_app_i.h
Owners: @skotopes, @DrZlo13, @hedger

All scenes with init screen adjusted
  nfc_eink/scenes/scene_choose_screen.c
  nfc_eink/scenes/scene_info.c
  nfc_eink/scenes/scene_show_image.c
Owners: @skotopes, @DrZlo13, @hedger

Scene transition logic adjusted to show error if failed to load
  nfc_eink/scenes/scene_file_select.c
Owners: @skotopes, @DrZlo13, @hedger

Waveshare poller send data functions now return three statuses instead of true/ false
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
Owners: @skotopes, @DrZlo13, @hedger

Additional poller state for reading some pages, possibly might help to stabilize waveshare writing
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare.c
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_i.h
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
Owners: @skotopes, @DrZlo13, @hedger

Removed read steps
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare.c
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
Owners: @skotopes, @DrZlo13, @hedger

Delays adjusted and some cmd fixes
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
Owners: @skotopes, @DrZlo13, @hedger

Select type cmd now uses bigger timeout for big displays
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_poller.c
Owners: @skotopes, @DrZlo13, @hedger

Some cleanups
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_i.h
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_listener.c
  nfc_eink/nfc_eink_screen/waveshare/eink_waveshare_i.h
Owners: @skotopes, @DrZlo13, @hedger

Fixed 3.71 inch issue when phone app sends more data then needed, now app shows "Unable to write" error and stops
  nfc_eink/nfc_eink_screen/goodisplay/eink_goodisplay_listener.c
Owners: @skotopes, @DrZlo13, @hedger

signal_generator: fix crash
  signal_generator/scenes/signal_gen_scene_pwm.c
  signal_generator/views/signal_gen_pwm.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov
