Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm

github: try building all apps before failing
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

breaking build
  .github/workflows/build.yml
  mass_storage/scenes/mass_storage_scene.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

Fixing build
  mass_storage/scenes/mass_storage_scene.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

github: check for changed apps
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

testing changes
  dap_link/gui/views/dap_main_view.c
  mass_storage/scenes/mass_storage_scene.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

testing changes
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

testing changes
  .github/workflows/build.yml
  ReadMe.md
Owners: @skotopes, @DrZlo13, @hedger

testing changes
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

Fixing build
  dap_link/gui/views/dap_main_view.c
  mass_storage/scenes/mass_storage_scene.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

picopss: abort emulation after standard key received in loclass
  picopass/protocol/picopass_listener.c
  picopass/scenes/picopass_scene_loclass.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

nfc magic: rework change key
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_change_key.c
  nfc_magic/scenes/nfc_magic_scene_change_key_fail.c
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: rework event ata with new api
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: rework gen4 write
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/scenes/nfc_magic_scene_file_select.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_write.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: add wrong card scene
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_file_select.c
  nfc_magic/scenes/nfc_magic_scene_wrong_card.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: rework gen4 wipe
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
  nfc_magic/scenes/nfc_magic_scene_start.c
  nfc_magic/scenes/nfc_magic_scene_wipe.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: add not magic scene
  nfc_magic/lib/magic/nfc_magic_scanner.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/scenes/nfc_magic_scene_check.c
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_not_implemented.c
  nfc_magic/scenes/nfc_magic_scene_not_magic.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

picopass: introduce picopass poller and listener
  picopass/picopass.c
  picopass/picopass_device.c
  picopass/picopass_device.h
  picopass/picopass_i.h
  picopass/picopass_worker.c
  picopass/picopass_worker.h
  picopass/picopass_worker_i.h
  picopass/protocol/picopass_listener.c
  picopass/protocol/picopass_listener.h
  picopass/protocol/picopass_listener_i.c
  picopass/protocol/picopass_listener_i.h
  picopass/protocol/picopass_poller.c
  picopass/protocol/picopass_poller.h
  picopass/protocol/picopass_poller_i.c
  picopass/protocol/picopass_poller_i.h
  picopass/protocol/picopass_protocol.h
  picopass/rfal_picopass.c
  picopass/rfal_picopass.h
  picopass/views/dict_attack.c
  picopass/views/dict_attack.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

picopass: rework application scenes
  picopass/picopass_device.c
  picopass/picopass_device.h
  picopass/picopass_i.h
  picopass/protocol/picopass_listener.c
  picopass/scenes/picopass_scene_elite_dict_attack.c
  picopass/scenes/picopass_scene_emulate.c
  picopass/scenes/picopass_scene_key_input.c
  picopass/scenes/picopass_scene_key_menu.c
  picopass/scenes/picopass_scene_loclass.c
  picopass/scenes/picopass_scene_read_card.c
  picopass/scenes/picopass_scene_read_card_success.c
  picopass/scenes/picopass_scene_read_factory_success.c
  picopass/scenes/picopass_scene_write_card.c
  picopass/scenes/picopass_scene_write_key.c
  picopass/views/dict_attack.c
  picopass/views/dict_attack.h
  picopass/views/loclass.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

all: update picopass, nfc magic, nfc rfid detector changelog and version
  nfc_magic/.catalog/changelog.txt
  nfc_magic/application.fam
  nfc_rfid_detector/.catalog/changelog.md
  nfc_rfid_detector/application.fam
  picopass/.catalog/changelog.md
  picopass/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

mfkey32: rework with new NFC API
  mfkey32/mfkey32.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

mfkey32: add changelog and update version
  mfkey32/.catalog/changelog.md
  mfkey32/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: fix changelog extension
  nfc_magic/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Motion Mouse app update, various fixes for RP board
  compass_test/application.fam
  compass_test/sensors/QMC5883L.c
  compass_test/views/sensor_data.h
  icm42688_test/application.fam
  icm42688_test/sensor_module.c
  motion_mouse/application.fam
  motion_mouse/assets/Circles_47x47.png
  motion_mouse/assets/Left_mouse_icon_9x9.png
  motion_mouse/assets/Right_mouse_icon_9x9.png
  motion_mouse/imu.h
  motion_mouse/imu_mouse.c
  motion_mouse/imu_mouse.h
  motion_mouse/motion_mouse_app.c
  motion_mouse/sensors/ICM42688P.c
  sensor_module_demo/application.fam
  sensor_module_demo/imu.c
  sensor_module_demo/sensor_module.c
  sensor_module_demo/views/sensor_data.c
  sensor_module_demo/views/sensor_data.h
Owners: @skotopes, @DrZlo13, @hedger

Test data file removed
  compass_test/scripts/mag_test.csv
Owners: @skotopes, @DrZlo13, @hedger

FreeRTOS API fixes
  mass_storage/mass_storage_app.c
  nfc_magic/nfc_magic_app.c
  picopass/picopass.c
  weather_station/views/weather_station_receiver.c
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @gornekich, @bettse, @Skorpionm

Readme updates & version bumps
  mass_storage/.catalog/CHANGELOG.md
  mass_storage/application.fam
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
  picopass/.catalog/changelog.md
  picopass/application.fam
  weather_station/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov, @gornekich, @bettse, @Skorpionm

specify in error that only gen1 magic and gen4 UMCs are support
  nfc_magic/scenes/nfc_magic_scene_not_magic.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

typo
  picopass/scenes/picopass_scene_elite_dict_attack.c
  picopass/scenes/picopass_scene_read_card.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Picopass: Create folder before loclass
  picopass/loclass_writer.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Accel/Gyro noise test app
  icm42688_noise/application.fam
  icm42688_noise/imu_thread.c
  icm42688_noise/imu_thread.h
  icm42688_noise/sensor_module.c
  icm42688_noise/sensors/ICM42688P.c
  icm42688_noise/sensors/ICM42688P.h
  icm42688_noise/sensors/ICM42688P_regs.h
Owners: @skotopes, @DrZlo13, @hedger

Save partial for SE
  picopass/scenes/picopass_scene_card_menu.c
  picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Save epurse before auth
  picopass/protocol/picopass_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

save nr-mac to file
  picopass/protocol/picopass_listener.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Add nr to picopass_poller_check
  picopass/protocol/picopass_poller.c
  picopass/protocol/picopass_poller_i.c
  picopass/protocol/picopass_poller_i.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Look for nr-mac when authenticating
  picopass/protocol/picopass_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Add new state for nr-mac auth
  picopass/protocol/picopass_poller.c
  picopass/protocol/picopass_poller_i.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Allow saving of NR-MAC dump
  picopass/scenes/picopass_scene_card_menu.c
  picopass/scenes/picopass_scene_device_info.c
  picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Add screen for when NR-MAC is collected
  picopass/picopass_i.h
  picopass/protocol/picopass_listener.c
  picopass/scenes/picopass_scene_config.h
  picopass/scenes/picopass_scene_emulate.c
  picopass/scenes/picopass_scene_nr_mac_saved.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Fix when nr_mac file is missing
  picopass/protocol/picopass_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Fix non-nr-mac reading
  picopass/protocol/picopass_poller.c
  picopass/protocol/picopass_poller_i.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse
