Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm

Update nfc_magic_scene_not_magic.c
  nfc_magic/scenes/nfc_magic_scene_not_magic.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

FlipTDI: Initial
  flip_tdi/.catalog/README.md
  flip_tdi/.catalog/changelog.md
  flip_tdi/application.fam
  flip_tdi/flip_tdi_app.c
  flip_tdi/flip_tdi_app_i.c
  flip_tdi/flip_tdi_app_i.h
  flip_tdi/flip_tdi_icon_10px.png
  flip_tdi/helpers/flip_tdi_event.h
  flip_tdi/helpers/flip_tdi_types.h
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi.h
  flip_tdi/helpers/ftdi_uart.c
  flip_tdi/helpers/ftdi_uart.h
  flip_tdi/helpers/ftdi_usb.c
  flip_tdi/helpers/ftdi_usb.h
  flip_tdi/helpers/ftdi_usb_define.h
  flip_tdi/images/flip_tdi_wiring.png
  flip_tdi/scenes/flip_tdi_scene.c
  flip_tdi/scenes/flip_tdi_scene.h
  flip_tdi/scenes/flip_tdi_scene_about.c
  flip_tdi/scenes/flip_tdi_scene_config.h
  flip_tdi/scenes/flip_tdi_scene_main.c
  flip_tdi/scenes/flip_tdi_scene_wiring.c
  flip_tdi/scenes/subghz_scene_menu.c
  flip_tdi/views/flip_tdi_view_main.c
  flip_tdi/views/flip_tdi_view_main.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: add set UART data config
  flip_tdi/flip_tdi_app.c
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi_uart.c
  flip_tdi/helpers/ftdi_uart.h
  flip_tdi/helpers/ftdi_usb_define.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: add UART tx dma
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi.h
  flip_tdi/helpers/ftdi_uart.c
  flip_tdi/helpers/ftdi_usb.c
Owners: @skotopes, @DrZlo13, @hedger

Update nfc_magic_scene_not_magic.c (#232)
  nfc_magic/scenes/nfc_magic_scene_not_magic.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Bump version
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

FlipTDI: add async/sync bitband mode
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi.h
  flip_tdi/helpers/ftdi_bitbang.c
  flip_tdi/helpers/ftdi_bitbang.h
  flip_tdi/helpers/ftdi_uart.c
  flip_tdi/helpers/ftdi_uart.h
  flip_tdi/helpers/ftdi_usb.c
  flip_tdi/helpers/ftdi_usb_define.h
  flip_tdi/scenes/flip_tdi_scene_about.c
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix syntax
  flip_tdi/scenes/flip_tdi_scene_about.c
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: add latency timer
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi.h
  flip_tdi/helpers/ftdi_latency_timer.c
  flip_tdi/helpers/ftdi_latency_timer.h
  flip_tdi/helpers/ftdi_usb.c
  flip_tdi/helpers/ftdi_usb_define.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix struct copy
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi_usb_define.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix app version
  flip_tdi/.catalog/changelog.md
  flip_tdi/application.fam
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: refactoring
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi_bitbang.c
  flip_tdi/helpers/ftdi_bitbang.h
  flip_tdi/helpers/ftdi_gpio.c
  flip_tdi/helpers/ftdi_gpio.h
  flip_tdi/helpers/ftdi_mpsse.c
  flip_tdi/helpers/ftdi_mpsse.h
  flip_tdi/helpers/ftdi_usb_define.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: gpio speed optimization
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi_bitbang.c
  flip_tdi/helpers/ftdi_bitbang.h
  flip_tdi/helpers/ftdi_gpio.c
  flip_tdi/helpers/ftdi_gpio.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: MPSSE Mode gpio set/get func
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi_bitbang.c
  flip_tdi/helpers/ftdi_bitbang.h
  flip_tdi/helpers/ftdi_mpsse.c
  flip_tdi/helpers/ftdi_mpsse.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: MPSSE mode add FtdiMpsseCommandsSendImmediate
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi.h
  flip_tdi/helpers/ftdi_bitbang.c
  flip_tdi/helpers/ftdi_bitbang.h
  flip_tdi/helpers/ftdi_latency_timer.h
  flip_tdi/helpers/ftdi_mpsse.c
  flip_tdi/helpers/ftdi_mpsse.h
  flip_tdi/helpers/ftdi_usb.c
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: MPSSE add timeout
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi.h
  flip_tdi/helpers/ftdi_bitbang.c
  flip_tdi/helpers/ftdi_mpsse.c
  flip_tdi/helpers/ftdi_uart.c
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: MPSSE add support SPI mode 0
  flip_tdi/helpers/ftdi_gpio.c
  flip_tdi/helpers/ftdi_mpsse.c
  flip_tdi/helpers/ftdi_mpsse_data.h
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: SPI mode
  flip_tdi/helpers/ftdi_mpsse.c
  flip_tdi/helpers/ftdi_mpsse_data.h
  flip_tdi/helpers/ftdi_usb.c
  flip_tdi/scenes/flip_tdi_scene_about.c
Owners: @skotopes, @DrZlo13, @hedger

FlipTDI: fix description
  flip_tdi/scenes/flip_tdi_scene_about.c
Owners: @skotopes, @DrZlo13, @hedger

MfKey: remove dead code, optimize GUI redraw, cleanup and format sources
  mfkey/crypto1.c
  mfkey/crypto1.h
  mfkey/init_plugin.c
  mfkey/mfkey.c
  mfkey/mfkey.h
  mfkey/plugin_interface.h
Owners: @skotopes, @DrZlo13, @hedger

MfKey: remove excessive null checks and some other dead code
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Update MFKey to v2.7 (#231)
  mfkey/.catalog/changelog.md
  mfkey/application.fam
  mfkey/crypto1.c
  mfkey/crypto1.h
  mfkey/init_plugin.c
  mfkey/mfkey.c
  mfkey/mfkey.h
  mfkey/plugin_interface.h
Owners: @skotopes, @DrZlo13, @hedger

AirMouse: bump version, update changelog and description
  air_mouse/.catalog/CHANGELOG.md
  air_mouse/.catalog/README.md
  air_mouse/.catalog/screenshots/1.png
  air_mouse/application.fam
Owners: @skotopes, @DrZlo13, @hedger

AirMouse: format sources and remove obsolete view_dispatcher_enable_queue
  air_mouse/air_mouse_app.c
  air_mouse/imu_mouse.c
  air_mouse/sensors/ICM42688P.h
  air_mouse/sensors/ICM42688P_regs.h
  air_mouse/views/air_mouse_view.c
Owners: @skotopes, @DrZlo13, @hedger

fix: incorrect line break
  spi_mem_manager/scenes/spi_mem_scene_chip_detect_fail.c
Owners: @skotopes, @DrZlo13, @hedger

bump spi_mem_manager ver and changelog
  spi_mem_manager/.catalog/changelog.md
  spi_mem_manager/application.fam
Owners: @skotopes, @DrZlo13, @hedger

refactor: yank deprecated view_dispatcher_enable_queue
  air_mouse/.catalog/CHANGELOG.md
  air_mouse/air_mouse_app.c
  air_mouse/application.fam
  avr_isp_programmer/.catalog/changelog.md
  avr_isp_programmer/application.fam
  avr_isp_programmer/avr_isp_app.c
  dap_link/application.fam
  dap_link/gui/dap_gui.c
  mass_storage/.catalog/CHANGELOG.md
  mass_storage/application.fam
  mass_storage/mass_storage_app.c
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
  nfc_magic/nfc_magic_app.c
  nfc_rfid_detector/.catalog/changelog.md
  nfc_rfid_detector/application.fam
  nfc_rfid_detector/nfc_rfid_detector_app.c
  signal_generator/application.fam
  signal_generator/signal_gen_app.c
  spi_mem_manager/.catalog/changelog.md
  spi_mem_manager/application.fam
  spi_mem_manager/spi_mem_app.c
  video_game_module_tool/.catalog/CHANGELOG.md
  video_game_module_tool/app.c
  video_game_module_tool/application.fam
  weather_station/.catalog/changelog.md
  weather_station/application.fam
  weather_station/weather_station_app.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich

Yank deprecated `view_dispatcher_enable_queue` (#242)
  air_mouse/.catalog/CHANGELOG.md
  air_mouse/air_mouse_app.c
  air_mouse/application.fam
  avr_isp_programmer/.catalog/changelog.md
  avr_isp_programmer/application.fam
  avr_isp_programmer/avr_isp_app.c
  dap_link/application.fam
  dap_link/gui/dap_gui.c
  mass_storage/.catalog/CHANGELOG.md
  mass_storage/application.fam
  mass_storage/mass_storage_app.c
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
  nfc_magic/nfc_magic_app.c
  nfc_rfid_detector/.catalog/changelog.md
  nfc_rfid_detector/application.fam
  nfc_rfid_detector/nfc_rfid_detector_app.c
  signal_generator/application.fam
  signal_generator/signal_gen_app.c
  spi_mem_manager/.catalog/changelog.md
  spi_mem_manager/application.fam
  spi_mem_manager/spi_mem_app.c
  video_game_module_tool/.catalog/CHANGELOG.md
  video_game_module_tool/app.c
  video_game_module_tool/application.fam
  weather_station/.catalog/changelog.md
  weather_station/application.fam
  weather_station/weather_station_app.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich

docs: fix changelog
  spi_mem_manager/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger

Fix incorrect line breaks in SPI Memory Manager (#241)
  spi_mem_manager/.catalog/changelog.md
  spi_mem_manager/scenes/spi_mem_scene_chip_detect_fail.c
Owners: @skotopes, @DrZlo13, @hedger

Add wiring and debug mode
  flip_tdi/flip_tdi_app.c
  flip_tdi/helpers/flip_tdi_event.h
  flip_tdi/helpers/ftdi.c
  flip_tdi/helpers/ftdi.h
  flip_tdi/helpers/ftdi_mpsse.c
  flip_tdi/helpers/ftdi_uart.c
  flip_tdi/helpers/ftdi_usb.c
  flip_tdi/images/flip_tdi.png
  flip_tdi/images/flip_tdi_wiring.png
  flip_tdi/images/flip_tdi_wiring_gpio.png
  flip_tdi/images/flip_tdi_wiring_spi.png
  flip_tdi/images/flip_tdi_wiring_uart.png
  flip_tdi/scenes/flip_tdi_scene_config.h
  flip_tdi/scenes/flip_tdi_scene_wiring_gpio.c
  flip_tdi/scenes/flip_tdi_scene_wiring_spi.c
  flip_tdi/scenes/flip_tdi_scene_wiring_uart.c
  flip_tdi/scenes/subghz_scene_menu.c
  flip_tdi/views/flip_tdi_view_main.c
Owners: @skotopes, @DrZlo13, @hedger

Add screenshots
  flip_tdi/.catalog/screenshots/1.png
  flip_tdi/.catalog/screenshots/2.png
  flip_tdi/.catalog/screenshots/3.png
  flip_tdi/.catalog/screenshots/4.png
Owners: @skotopes, @DrZlo13, @hedger

Begin 3.0 changes for NFC app support
  mfkey/.catalog/changelog.md
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

Make Help more informative
  mfkey/.catalog/README.md
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Nonce loading compatible with PR 3822
  mfkey/init_plugin.c
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

MFKey 3.0
  mfkey/crypto1.h
  mfkey/init_plugin.c
  mfkey/mfkey.c
  mfkey/mfkey.h
Owners: @skotopes, @DrZlo13, @hedger

Limitation noted
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Fix null pointer dereference, simplify free logic
  mfkey/init_plugin.c
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Delete limitation note
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Move TAGs before other defines like new FW code formatting
  mfkey/init_plugin.c
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger
