Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

signal_generator: bumped version, added changelog file
  signal_generator/.catalog/changelog.md
  signal_generator/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @nminaylov

avr_isp: update for latest sdk changes
  avr_isp_programmer/avr_isp_app.c
  avr_isp_programmer/helpers/avr_isp_worker.c
  avr_isp_programmer/images/ActiveConnection_50x64.png
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

avr_isp: update catalog metadata
  avr_isp_programmer/.catalog/changelog.md
  avr_isp_programmer/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

[NFC Magic]: Returned possibility to write 7b MFC to Gen1 tags
  nfc_magic/scenes/nfc_magic_scene_file_select.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Version + changelog
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

typo: when module isn't connected
  air_mouse/.catalog/CHANGELOG.md
  air_mouse/air_mouse_app.c
Owners: @skotopes, @DrZlo13, @hedger

Update spi_mem_chip_arr.c
  spi_mem_manager/lib/spi/spi_mem_chip_arr.c
Owners: @skotopes, @DrZlo13, @hedger

Add files via upload
  foto_album_1758103193232.jpg
Owners: @skotopes, @DrZlo13, @hedger

mfkey: fixed enum member name
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

mfkey: version bump
  mfkey/.catalog/changelog.md
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

WS: implement vauno
  weather_station/protocols/vauno_en8822c.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

WS: bump version to 1.9
  weather_station/.catalog/README.md
  weather_station/.catalog/changelog.md
  weather_station/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

WS: create vauno from kedsum
  weather_station/protocols/protocol_items.c
  weather_station/protocols/protocol_items.h
  weather_station/protocols/vauno_en8822c.c
  weather_station/protocols/vauno_en8822c.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Remove picopass, it's been 2 years
  picopass/.catalog/README.md
  picopass/.catalog/changelog.md
  picopass/.catalog/screenshots/1.png
  picopass/.catalog/screenshots/2.png
  picopass/.catalog/screenshots/3.png
  picopass/.gitignore
  picopass/readme.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

MFKey 4.1 perf(mfkey): comprehensive performance optimization of Crypto1 key recovery
  mfkey/.catalog/README.md
  mfkey/.catalog/changelog.md
  mfkey/.catalog/screenshots/2.png
  mfkey/.catalog/screenshots/3.png
  mfkey/application.fam
  mfkey/crypto1.c
  mfkey/crypto1.h
  mfkey/init_plugin.c
  mfkey/mfkey.c
  mfkey/mfkey.h
  mfkey/mfkey_attack.c
  mfkey/mfkey_attack.h
  mfkey/mfkey_batch_prelude.c
  mfkey/mfkey_batch_prelude.h
  mfkey/mfkey_bs_verify.c
  mfkey/mfkey_bs_verify.h
  mfkey/mfkey_dedup.h
  mfkey/mfkey_recovery.c
  mfkey/mfkey_recovery.h
  mfkey/mfkey_state_expansion.c
  mfkey/mfkey_state_expansion.h
Owners: @skotopes, @DrZlo13, @hedger

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm
