Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm

set keys of nr-mac dumped card to all 0xff
  picopass/protocol/picopass_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Picopass: Update loclass notes
  picopass/.catalog/README.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

nfc magic: bump version
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

format
  picopass/protocol/picopass_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Picopass: save as seader credential
  picopass/picopass_device.c
  picopass/picopass_device.h
  picopass/scenes/picopass_scene_card_menu.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

picopass changelog and version bump
  picopass/.catalog/changelog.md
  picopass/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Motion Mouse app
  motion_mouse/application.fam
  motion_mouse/assets/Circles_47x47.png
  motion_mouse/assets/Left_mouse_icon_9x9.png
  motion_mouse/assets/Right_mouse_icon_9x9.png
  motion_mouse/imu_mouse.c
  motion_mouse/imu_mouse.h
  motion_mouse/motion_mouse_app.c
  motion_mouse/sensors/ICM42688P.c
  motion_mouse/sensors/ICM42688P.h
  motion_mouse/sensors/ICM42688P_regs.h
Owners: @skotopes, @DrZlo13, @hedger

PicoPass: Fix name buffer size issues
  picopass/picopass_device.c
  picopass/picopass_device.h
  picopass/picopass_i.h
  picopass/scenes/picopass_scene_delete.c
  picopass/scenes/picopass_scene_save_name.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Picopass: detect config card
  picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

App icon, name change
  air_mouse/air_mouse_app.c
  air_mouse/airmouse_10x10.png
  air_mouse/application.fam
  air_mouse/assets/Circles_47x47.png
  air_mouse/assets/Left_mouse_icon_9x9.png
  air_mouse/assets/Right_mouse_icon_9x9.png
  air_mouse/imu_mouse.c
  air_mouse/imu_mouse.h
  air_mouse/sensors/ICM42688P.c
  air_mouse/sensors/ICM42688P.h
  air_mouse/sensors/ICM42688P_regs.h
Owners: @skotopes, @DrZlo13, @hedger

Update NFC Magic manifest
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Picopass: NR-MAC instructions
  picopass/.catalog/README.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Update changelog
  picopass/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Update changelog
  picopass/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Fix markdown headings in the picopass README
  picopass/.catalog/README.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Added XM25QH64C and XM25QH128A support for spi mem manger app. Added XMC vendor to the spi mem manager app.
  spi_mem_manager/lib/spi/spi_mem_chip.c
  spi_mem_manager/lib/spi/spi_mem_chip_arr.c
  spi_mem_manager/lib/spi/spi_mem_chip_i.h
Owners: @skotopes, @DrZlo13, @hedger

Update changelog and bump version
  spi_mem_manager/.catalog/changelog.md
  spi_mem_manager/application.fam
Owners: @skotopes, @DrZlo13, @hedger

fix XM25QH128A size
  spi_mem_manager/lib/spi/spi_mem_chip_arr.c
Owners: @skotopes, @DrZlo13, @hedger

NfcMagic: bump version and changelog
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

WS: add protocol Kedsum-TH/Conrad-S3318P
  weather_station/.catalog/README.md
  weather_station/.catalog/changelog.md
  weather_station/application.fam
  weather_station/protocols/kedsum_th.c
  weather_station/protocols/kedsum_th.h
  weather_station/protocols/protocol_items.c
  weather_station/protocols/protocol_items.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

WS: fix fap_version
  weather_station/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Make dictionary attack more picopass specific
  picopass/views/dict_attack.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Use elite dictionary attack for picopass read
  picopass/scenes/picopass_scene_start.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Add circuit to picopass readme
  picopass/.catalog/README.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

NfcMagic: proper types for the value returned by bit_buffer_get_size_bytes
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

NFC Magic: get config fix
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Update changelog and bump version
  picopass/.catalog/changelog.md
  picopass/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Air Mouse: BLE HID, scroll mode, UI updates
  air_mouse/air_mouse_app.c
  air_mouse/assets/Ble_connected_15x15.png
  air_mouse/assets/Ble_disconnected_15x15.png
  air_mouse/assets/Pressed_Button_13x13.png
  air_mouse/assets/Scroll_icon_9x9.png
  air_mouse/imu_mouse.c
  air_mouse/imu_mouse.h
  air_mouse/views/air_mouse_view.c
  air_mouse/views/air_mouse_view.h
Owners: @skotopes, @DrZlo13, @hedger

picopass: remove backticks in changelog
  picopass/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

WS: Use the proper app version define in the About scene
  weather_station/helpers/weather_station_types.h
  weather_station/scenes/weather_station_scene_about.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

DapLink fix for new UART API
  dap_link/application.fam
  dap_link/dap_link.c
  dap_link/usb/dap_v2_usb.c
Owners: @skotopes, @DrZlo13, @hedger

New ble profile system
  air_mouse/air_mouse_app.c
  air_mouse/application.fam
  air_mouse/imu_mouse.c
  air_mouse/imu_mouse.h
  air_mouse/views/air_mouse_view.c
  air_mouse/views/air_mouse_view.h
Owners: @skotopes, @DrZlo13, @hedger

BLE HID custom name
  air_mouse/air_mouse_app.c
Owners: @skotopes, @DrZlo13, @hedger

Add video game module tool
  video_game_module_tool/.catalog/CHANGELOG.md
  video_game_module_tool/.catalog/README.md
  video_game_module_tool/.catalog/screenshots/1.png
  video_game_module_tool/.catalog/screenshots/2.png
  video_game_module_tool/.catalog/screenshots/3.png
  video_game_module_tool/app.c
  video_game_module_tool/app_i.h
  video_game_module_tool/application.fam
  video_game_module_tool/custom_event.h
  video_game_module_tool/files/vgm-fw-0.1.0.uf2
  video_game_module_tool/flasher/board.c
  video_game_module_tool/flasher/board.h
  video_game_module_tool/flasher/flasher.c
  video_game_module_tool/flasher/flasher.h
  video_game_module_tool/flasher/rp2040.c
  video_game_module_tool/flasher/rp2040.h
  video_game_module_tool/flasher/swd.c
  video_game_module_tool/flasher/swd.h
  video_game_module_tool/flasher/target.c
  video_game_module_tool/flasher/target.h
  video_game_module_tool/flasher/uf2.c
  video_game_module_tool/flasher/uf2.h
  video_game_module_tool/icons/Checkmark_44x40.png
  video_game_module_tool/icons/Flashing_module_70x30.png
  video_game_module_tool/icons/Module_60x26.png
  video_game_module_tool/icons/Update_module_56x52.png
  video_game_module_tool/icons/WarningDolphinFlip_45x42.png
  video_game_module_tool/scenes/scene.c
  video_game_module_tool/scenes/scene.h
  video_game_module_tool/scenes/scene_config.h
  video_game_module_tool/scenes/scene_confirm.c
  video_game_module_tool/scenes/scene_error.c
  video_game_module_tool/scenes/scene_file_select.c
  video_game_module_tool/scenes/scene_install.c
  video_game_module_tool/scenes/scene_probe.c
  video_game_module_tool/scenes/scene_start.c
  video_game_module_tool/scenes/scene_success.c
  video_game_module_tool/vgm_tool.png
  video_game_module_tool/views/progress.c
  video_game_module_tool/views/progress.h
Owners: @skotopes, @DrZlo13, @hedger

Correct App ID
  video_game_module_tool/application.fam
Owners: @skotopes, @DrZlo13, @hedger

Fix icon include file names
  video_game_module_tool/scenes/scene_error.c
  video_game_module_tool/scenes/scene_probe.c
  video_game_module_tool/scenes/scene_success.c
  video_game_module_tool/views/progress.c
Owners: @skotopes, @DrZlo13, @hedger

Screenshots, description, hardcoded keys path
  air_mouse/.catalog/README.md
  air_mouse/.catalog/screenshots/1.png
  air_mouse/.catalog/screenshots/2.png
  air_mouse/air_mouse_app.c
Owners: @skotopes, @DrZlo13, @hedger

Changed appid
  air_mouse/application.fam
Owners: @skotopes, @DrZlo13, @hedger

Icons file name fix
  air_mouse/views/air_mouse_view.c
Owners: @skotopes, @DrZlo13, @hedger

Added short description
  air_mouse/application.fam
Owners: @skotopes, @DrZlo13, @hedger
