Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm

Gen2 final UI
  nfc_magic/assets/DolphinSuccess_91x55.png
  nfc_magic/assets/WarningDolphinFlip_45x42.png
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.h
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller_i.h
  nfc_magic/lib/magic/protocols/nfc_magic_protocols.c
  nfc_magic/nfc_magic_app.c
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_gen2_write_check.c
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
  nfc_magic/scenes/nfc_magic_scene_mf_classic_write_check.c
  nfc_magic/scenes/nfc_magic_scene_success.c
  nfc_magic/scenes/nfc_magic_scene_wipe_fail.c
  nfc_magic/scenes/nfc_magic_scene_write_fail.c
  nfc_magic/views/write_problems.c
  nfc_magic/views/write_problems.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Air Arkanoid: Use PYTHON3 var
  air_arkanoid/application.fam
Owners: @skotopes, @DrZlo13, @hedger

NFC Magic Wording fixes
  nfc_magic/scenes/nfc_magic_scene_check.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_cfg.c
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
  nfc_magic/scenes/nfc_magic_scene_wipe.c
  nfc_magic/scenes/nfc_magic_scene_write.c
  nfc_magic/scenes/nfc_magic_scene_write_confirm.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

rename standart to standard
  nfc_magic/scenes/nfc_magic_scene_gen4_actions_menu.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

(WIP) NFC Magic: Gen4 refactor
  nfc_magic/lib/magic/nfc_magic_scanner.c
  nfc_magic/lib/magic/nfc_magic_scanner.h
  nfc_magic/lib/magic/protocols/gen4/gen4.c
  nfc_magic/lib/magic/protocols/gen4/gen4.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app.c
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_gen4_get_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_select_direct_write_block_0_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_select_shd_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
  nfc_magic/scenes/nfc_magic_scene_start.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

(WIP) some TODO's added
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/scenes/nfc_magic_scene_gen4_get_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Replace Mfkey32 with MFKey
  mfkey/.catalog/README.md
  mfkey/.catalog/changelog.md
  mfkey/.catalog/screenshots/1.png
  mfkey/.catalog/screenshots/2.png
  mfkey/.catalog/screenshots/3.png
  mfkey/application.fam
  mfkey/common.h
  mfkey/crypto1.c
  mfkey/crypto1.h
  mfkey/images/mfkey.png
  mfkey/init_plugin.c
  mfkey/mfkey.c
  mfkey/mfkey.h
  mfkey/mfkey.png
  mfkey/plugin_interface.h
  mfkey32/.catalog/README.md
  mfkey32/.catalog/changelog.md
  mfkey32/.catalog/screenshots/1.png
  mfkey32/.catalog/screenshots/2.png
  mfkey32/.catalog/screenshots/3.png
  mfkey32/images/mfkey.png
  mfkey32/mfkey.png
  mfkey32/mfkey32.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Write password and PACK to gen4 special pages
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

(WIP) UI refactor
  nfc_magic/lib/magic/nfc_magic_scanner.c
  nfc_magic/lib/magic/nfc_magic_scanner.h
  nfc_magic/lib/magic/protocols/gen4/gen4.c
  nfc_magic/lib/magic/protocols/gen4/gen4.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app.c
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_gen4_get_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_select_direct_write_block_0_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_default_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_direct_write_block_0_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_shd_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

UI refactor: configured type detect implemented
  nfc_magic/lib/magic/protocols/gen4/gen4.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

/n fix
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Fix config re-allocation
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Add missing free for the info screen
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Update MFKey to version 2.1
  mfkey/application.fam
  mfkey/common.h
  mfkey/init_plugin.c
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

AVR_ISP: Update API
  avr_isp_programmer/.catalog/changelog.md
  avr_isp_programmer/application.fam
  avr_isp_programmer/helpers/flipper_i32hex_file.c
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

AVR_ISP: Fix number version
  avr_isp_programmer/.catalog/changelog.md
  avr_isp_programmer/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

AVR_ISP: Fix syntax error
  avr_isp_programmer/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

github: fixed handling for removed manifests
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

Added Acurite 5n1 Weather Station
  weather_station/.catalog/README.md
  weather_station/protocols/acurite_5n1.c
  weather_station/protocols/acurite_5n1.h
  weather_station/protocols/protocol_items.c
  weather_station/protocols/protocol_items.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

github: updated workflow dependencies
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

NfcMagic: more consts
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.h
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Fix progress bar bug, bump version to 2.2
  mfkey/application.fam
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

NfcMagic: add missing consts
  nfc_magic/lib/magic/protocols/gen2/gen2_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

NfcMagic: bump version update chagelog and screenshots
  nfc_magic/.catalog/changelog.md
  nfc_magic/.catalog/screenshots/0.png
  nfc_magic/.catalog/screenshots/1.png
  nfc_magic/.catalog/screenshots/2.png
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

NfcMagic: move magic to project root, get rid of unnecessery private library
  nfc_magic/application.fam
  nfc_magic/magic/nfc_magic_scanner.c
  nfc_magic/magic/nfc_magic_scanner.h
  nfc_magic/magic/protocols/gen1a/gen1a_poller.c
  nfc_magic/magic/protocols/gen1a/gen1a_poller.h
  nfc_magic/magic/protocols/gen1a/gen1a_poller_i.c
  nfc_magic/magic/protocols/gen1a/gen1a_poller_i.h
  nfc_magic/magic/protocols/gen2/crypto1.c
  nfc_magic/magic/protocols/gen2/crypto1.h
  nfc_magic/magic/protocols/gen2/gen2_poller.c
  nfc_magic/magic/protocols/gen2/gen2_poller.h
  nfc_magic/magic/protocols/gen2/gen2_poller_i.c
  nfc_magic/magic/protocols/gen2/gen2_poller_i.h
  nfc_magic/magic/protocols/gen4/gen4_poller.c
  nfc_magic/magic/protocols/gen4/gen4_poller.h
  nfc_magic/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/magic/protocols/nfc_magic_protocols.c
  nfc_magic/magic/protocols/nfc_magic_protocols.h
  nfc_magic/nfc_magic_app_i.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Weather station: bump version and update changelog
  weather_station/.catalog/changelog.md
  weather_station/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

Picopass: add subheader to loclass UI
  picopass/scenes/picopass_scene_loclass.c
  picopass/views/loclass.c
  picopass/views/loclass.h
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Properly clear dev_data
  picopass/picopass_device.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

back goes back on info screen
  picopass/scenes/picopass_scene_device_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Remove unneeed param
  picopass/picopass_device.c
  picopass/picopass_device.h
  picopass/protocol/picopass_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Picopass: Save unknown blocks with ??
  picopass/picopass_device.c
  picopass/protocol/picopass_listener.c
  picopass/scenes/picopass_scene_card_menu.c
  picopass/scenes/picopass_scene_more_info.c
  picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

fixes, cleanup
  nfc_magic/magic/nfc_magic_scanner.c
  nfc_magic/magic/nfc_magic_scanner.h
  nfc_magic/magic/protocols/gen4/gen4.c
  nfc_magic/magic/protocols/gen4/gen4.h
  nfc_magic/magic/protocols/gen4/gen4_poller.c
  nfc_magic/magic/protocols/gen4/gen4_poller.h
  nfc_magic/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app.c
  nfc_magic/scenes/nfc_magic_scene_gen4_get_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_select_shd_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_direct_write_block_0_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_shd_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

bump version
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Picopass: enum to track auth method
  picopass/picopass_device.c
  picopass/picopass_device.h
  picopass/protocol/picopass_poller.c
  picopass/scenes/picopass_scene_read_card_success.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Picopass: saved card save as lfrfid
  picopass/picopass_device.c
  picopass/scenes/picopass_scene_saved_menu.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

show folder dev_name extension in debug
  picopass/picopass_device.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

create lfrfid if it doesn't exist
  picopass/picopass_device.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

Fix Gen4 NTAG/Ultralight writing
  nfc_magic/magic/protocols/gen4/gen4_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

NfcMagic: update changelog
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

gen4 password value field removed. new password management methods added
  nfc_magic/magic/protocols/gen4/gen4.c
  nfc_magic/magic/protocols/gen4/gen4.h
  nfc_magic/magic/protocols/gen4/gen4_poller.c
  nfc_magic/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_start.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich
