Repository flipperdevices/flipperzero-good-faps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @skotopes, @DrZlo13, @hedger, @Skorpionm, @nminaylov, @gornekich, @bettse

.github/CODEOWNERS:

# Who owns all the fish by default
* @skotopes @DrZlo13 @hedger

/avr_isp_programmer @skotopes @DrZlo13 @hedger @Skorpionm
/dap_link @skotopes @DrZlo13 @hedger
/hid_app @skotopes @DrZlo13 @hedger @nminaylov
/mass_storage @skotopes @DrZlo13 @hedger @nminaylov
/mfkey32 @skotopes @DrZlo13 @hedger @gornekich
/nfc_magic @skotopes @DrZlo13 @hedger @gornekich
/nfc_rfid_detector @skotopes @DrZlo13 @hedger @gornekich
/picopass @skotopes @DrZlo13 @hedger @gornekich @bettse
/signal_generator @skotopes @DrZlo13 @hedger @nminaylov
/spi_mem_manager @skotopes @DrZlo13 @hedger
/weather_station @skotopes @DrZlo13 @hedger @Skorpionm

External radio support
  weather_station/helpers/radio_device_loader.c
  weather_station/helpers/radio_device_loader.h
  weather_station/images/Fishing_123x52.png
  weather_station/protocols/acurite_986.c
  weather_station/scenes/weather_station_receiver.c
  weather_station/views/weather_station_receiver.c
  weather_station/views/weather_station_receiver.h
  weather_station/weather_station_app.c
  weather_station/weather_station_app_i.c
  weather_station/weather_station_app_i.h
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

bump version and upd changelog
  weather_station/.catalog/changelog.md
  weather_station/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @Skorpionm

unused import deleted
  nfc_magic/scenes/nfc_magic_scene_gen4_set_direct_write_block_0_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_shd_mode.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: minor clean up
  nfc_magic/magic/protocols/gen4/gen4.c
  nfc_magic/magic/protocols/gen4/gen4.h
  nfc_magic/magic/protocols/gen4/gen4_poller.c
  nfc_magic/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Add wiegand parsing plugin
  .gitmodules
  picopass/application.fam
  picopass/picopass.c
  picopass/picopass_i.h
  picopass/scenes/picopass_scene_card_menu.c
  picopass/scenes/picopass_scene_config.h
  picopass/scenes/picopass_scene_device_info.c
  picopass/scenes/picopass_scene_formats.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

nfc magic: update version
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

include plugin
  picopass/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich, @bettse

github: CI fixes for build flow on app removal
  .github/workflows/build.yml
Owners: @skotopes, @DrZlo13, @hedger

Fix the user dict attack results being discarded
  nfc_magic/scenes/nfc_magic_scene_mf_classic_dict_attack.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Bump version
  nfc_magic/.catalog/README.md
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

Clock: update api v.65.0
  clock/application.fam
  clock/clock_app.c
Owners: @skotopes, @DrZlo13, @hedger

mfkey: update api v.65.0
  mfkey/application.fam
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

clock: fix var type
  clock/clock_app.c
Owners: @skotopes, @DrZlo13, @hedger

music_player: update api v.65.0
  music_player/application.fam
  music_player/music_player.c
Owners: @skotopes, @DrZlo13, @hedger

music_player: add changelog
  music_player/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger

clock: add changelog
  clock/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger

mfkey: update changelog
  mfkey/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger

music_player: update api v.65.0 (#219)
  music_player/.catalog/changelog.md
  music_player/application.fam
  music_player/music_player.c
Owners: @skotopes, @DrZlo13, @hedger

Clock: update api v.65.0 (#217)
  clock/.catalog/changelog.md
  clock/application.fam
  clock/clock_app.c
Owners: @skotopes, @DrZlo13, @hedger

mfkey: update api v.65.0 (#218)
  mfkey/.catalog/changelog.md
  mfkey/application.fam
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

music_player: fix icon
  music_player/.catalog/changelog.md
  music_player/application.fam
  music_player/icons/music_10px.png
  music_player/icons/music_player_icon_10px.png
  music_player/music_player.c
Owners: @skotopes, @DrZlo13, @hedger

music_player: fix icon (#220)
  music_player/.catalog/changelog.md
  music_player/application.fam
  music_player/icons/music_10px.png
  music_player/icons/music_player_icon_10px.png
  music_player/music_player.c
Owners: @skotopes, @DrZlo13, @hedger

nfc magic: update fap with latest API
  nfc_magic/magic/protocols/gen4/gen4_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc magic: update version
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

NFC Magic: update app with latest API (#223)
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
  nfc_magic/magic/protocols/gen4/gen4_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

added fal_embedded
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

MFKey app fal fix (#224)
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

mfkey bumped version for app update
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

added mfkey v2.4 to changelog
  mfkey/.catalog/changelog.md
Owners: @skotopes, @DrZlo13, @hedger

MFKey version bump (#225)
  mfkey/.catalog/changelog.md
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

changed mfkey assets path
  mfkey/.catalog/changelog.md
  mfkey/application.fam
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

MFKey plugin path change (#226)
  mfkey/.catalog/changelog.md
  mfkey/application.fam
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

bumped version and changelog
  mfkey/.catalog/changelog.md
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

mfkey version bump (#227)
  mfkey/.catalog/changelog.md
  mfkey/application.fam
Owners: @skotopes, @DrZlo13, @hedger

Gen1 backdoor read support
  nfc_magic/magic/protocols/gen1a/gen1a_poller.c
  nfc_magic/magic/protocols/gen1a/gen1a_poller.h
  nfc_magic/magic/protocols/gen1a/gen1a_poller_i.c
  nfc_magic/magic/protocols/gen1a/gen1a_poller_i.h
  nfc_magic/nfc_magic_app.c
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_dump.c
  nfc_magic/scenes/nfc_magic_scene_dump_fail.c
  nfc_magic/scenes/nfc_magic_scene_gen1_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen1_save_name.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc_rfid_detector: Сhange GUI
  nfc_rfid_detector/.catalog/changelog.md
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-both-detected.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-both-detected_.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-nfc-detected.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-nfc-detected_.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-rfid-detected.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-rfid-detected_.png
  nfc_rfid_detector/application.fam
  nfc_rfid_detector/nfc_rfid_detector_10px.png
  nfc_rfid_detector/nfc_rfid_detector_icon_10px.png
  nfc_rfid_detector/views/nfc_rfid_detector_view_field_presence.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

nfc_rfid_detector: rename file
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-both-detected.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-nfc-detected.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-rfid-detected.png
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

[FL-3862] Fix typos in the RFID detector app (#229)
  nfc_rfid_detector/.catalog/changelog.md
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-both-detected.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-nfc-detected.png
  nfc_rfid_detector/.catalog/gallery/nfc-rfid-rfid-detected.png
  nfc_rfid_detector/application.fam
  nfc_rfid_detector/nfc_rfid_detector_10px.png
  nfc_rfid_detector/nfc_rfid_detector_icon_10px.png
  nfc_rfid_detector/views/nfc_rfid_detector_view_field_presence.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich

MFKey 2.7
  mfkey/.catalog/changelog.md
  mfkey/application.fam
  mfkey/crypto1.h
  mfkey/mfkey.c
Owners: @skotopes, @DrZlo13, @hedger

Move to new API
  nfc_magic/magic/protocols/gen1a/gen1a_poller.c
Owners: @skotopes, @DrZlo13, @hedger, @gornekich
