Repository flipperdevices/flipperzero-good-faps, pull requests merged in 2023-12, with the labels that each got.

#75 Specify in error scene that only Gen1 magic and Gen4 UMCs are supported
  nfc_magic/scenes/nfc_magic_scene_not_magic.c
Labels: enhancement, app:nfc_magic

#87 Picopass: detect config card
  picopass/scenes/picopass_scene_read_card_success.c
Labels: enhancement, app:picopass

#86 Picopass: More info view (raw bytes)
  picopass/picopass.c
  picopass/picopass_i.h
  picopass/scenes/picopass_scene_config.h
  picopass/scenes/picopass_scene_device_info.c
  picopass/scenes/picopass_scene_more_info.c
Labels: enhancement, app:picopass

#82 New nfc_magic options for gen4 cards
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller.h
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/lib/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_gen1_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_actions_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_fail.c
  nfc_magic/scenes/nfc_magic_scene_gen4_get_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_revision.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_rev.c
  nfc_magic/scenes/nfc_magic_scene_start.c
Labels: enhancement, app:nfc_magic

#88 Picopass: update working with keys
  picopass/.catalog/changelog.md
  picopass/application.fam
  picopass/picopass_i.h
  picopass/scenes/picopass_scene_elite_dict_attack.c
  picopass/scenes/picopass_scene_read_card.c
Labels: app:picopass

#89 add additional keys to elite dict
  picopass/.catalog/changelog.md
  picopass/files/iclass_elite_dict.txt
Labels: app:picopass

#90 Picopass config se problem
  picopass/.catalog/changelog.md
  picopass/scenes/picopass_scene_read_card_success.c
Labels: app:picopass

#92 Picopass: NR-MAC instructions
  picopass/.catalog/README.md
Labels: app:picopass
