Repository flipperdevices/flipperzero-good-faps, pull requests merged in 2024-02, with the labels that each got.

#127 Add video game module tool
  video_game_module_tool/.catalog/CHANGELOG.md
  video_game_module_tool/.catalog/README.md
  video_game_module_tool/.catalog/screenshots/1.png
  video_game_module_tool/.catalog/screenshots/2.png
  video_game_module_tool/.catalog/screenshots/3.png
  video_game_module_tool/app.c
  video_game_module_tool/app_i.h
  video_game_module_tool/application.fam
  video_game_module_tool/custom_event.h
  video_game_module_tool/files/vgm-fw-0.1.0.uf2
  video_game_module_tool/flasher/board.c
  video_game_module_tool/flasher/board.h
  video_game_module_tool/flasher/flasher.c
  video_game_module_tool/flasher/flasher.h
  video_game_module_tool/flasher/rp2040.c
  video_game_module_tool/flasher/rp2040.h
  video_game_module_tool/flasher/swd.c
  video_game_module_tool/flasher/swd.h
  video_game_module_tool/flasher/target.c
  video_game_module_tool/flasher/target.h
  video_game_module_tool/flasher/uf2.c
  video_game_module_tool/flasher/uf2.h
  video_game_module_tool/icons/Checkmark_44x40.png
  video_game_module_tool/icons/Flashing_module_70x30.png
  video_game_module_tool/icons/Module_60x26.png
  video_game_module_tool/icons/Update_module_56x52.png
  video_game_module_tool/icons/WarningDolphinFlip_45x42.png
  video_game_module_tool/scenes/scene.c
  video_game_module_tool/scenes/scene.h
  video_game_module_tool/scenes/scene_config.h
  video_game_module_tool/scenes/scene_confirm.c
  video_game_module_tool/scenes/scene_error.c
  video_game_module_tool/scenes/scene_file_select.c
  video_game_module_tool/scenes/scene_install.c
  video_game_module_tool/scenes/scene_probe.c
  video_game_module_tool/scenes/scene_start.c
  video_game_module_tool/scenes/scene_success.c
  video_game_module_tool/vgm_tool.png
  video_game_module_tool/views/progress.c
  video_game_module_tool/views/progress.h
Labels: app:vgm

#126 Picopass save written key
  picopass/helpers/iclass_elite_dict.c
  picopass/picopass_device.c
  picopass/protocol/picopass_listener.c
  picopass/protocol/picopass_listener_i.c
  picopass/protocol/picopass_poller.c
  picopass/scenes/picopass_scene_card_menu.c
  picopass/scenes/picopass_scene_more_info.c
  picopass/scenes/picopass_scene_read_card_success.c
  picopass/scenes/picopass_scene_write_key.c
Labels: app:picopass

#149 [FL-3773] VGM Tool: Fix crashes
  video_game_module_tool/.catalog/CHANGELOG.md
  video_game_module_tool/application.fam
  video_game_module_tool/flasher/flasher.c
  video_game_module_tool/flasher/rp2040.c
  video_game_module_tool/flasher/swd.c
Labels: bug, app:vgm
