Repository flipperdevices/flipperzero-good-faps, pull requests merged in 2024-04, with the labels that each got.

#189 Replace Mfkey32 with MFKey
  .github/workflows/build.yml
  mfkey/.catalog/README.md
  mfkey/.catalog/changelog.md
  mfkey/.catalog/screenshots/1.png
  mfkey/.catalog/screenshots/2.png
  mfkey/.catalog/screenshots/3.png
  mfkey/application.fam
  mfkey/crypto1.c
  mfkey/crypto1.h
  mfkey/images/mfkey.png
  mfkey/init_plugin.c
  mfkey/mfkey.c
  mfkey/mfkey.h
  mfkey/mfkey.png
  mfkey/plugin_interface.h
  mfkey32/.catalog/README.md
  mfkey32/.catalog/changelog.md
  mfkey32/.catalog/screenshots/1.png
  mfkey32/.catalog/screenshots/2.png
  mfkey32/.catalog/screenshots/3.png
  mfkey32/images/mfkey.png
  mfkey32/mfkey.png
  mfkey32/mfkey32.c
Labels: app:mfkey32

#193 Added Acurite 5n1 Weather Station
  weather_station/.catalog/README.md
  weather_station/.catalog/changelog.md
  weather_station/application.fam
  weather_station/protocols/acurite_5n1.c
  weather_station/protocols/acurite_5n1.h
  weather_station/protocols/protocol_items.c
  weather_station/protocols/protocol_items.h
Labels: app:weather_station

#190 [FL-3745] Write NTAG password and PACK to gen4 special pages
  nfc_magic/.catalog/changelog.md
  nfc_magic/application.fam
  nfc_magic/magic/protocols/gen4/gen4_poller.c
Labels: app:nfc_magic

#201 Picopass cleanup
  picopass/scenes/picopass_scene_card_menu.c
  picopass/scenes/picopass_scene_more_info.c
  picopass/scenes/picopass_scene_read_card_success.c
  picopass/scenes/picopass_scene_read_factory_success.c
Labels: app:picopass

#98 NFC Magic: New functions for Gen4 cards (DW to block 0/shadow mode)
  nfc_magic/.catalog/changelog.md
  nfc_magic/.catalog/screenshots/1.png
  nfc_magic/magic/nfc_magic_scanner.c
  nfc_magic/magic/nfc_magic_scanner.h
  nfc_magic/magic/protocols/gen4/gen4.c
  nfc_magic/magic/protocols/gen4/gen4.h
  nfc_magic/magic/protocols/gen4/gen4_poller.c
  nfc_magic/magic/protocols/gen4/gen4_poller.h
  nfc_magic/magic/protocols/gen4/gen4_poller_i.c
  nfc_magic/magic/protocols/gen4/gen4_poller_i.h
  nfc_magic/nfc_magic_app.c
  nfc_magic/nfc_magic_app_i.h
  nfc_magic/scenes/nfc_magic_scene_config.h
  nfc_magic/scenes/nfc_magic_scene_gen4_actions_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_get_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_menu.c
  nfc_magic/scenes/nfc_magic_scene_gen4_select_shd_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_default_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_direct_write_block_0_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_set_shd_mode.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_cfg.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_info.c
  nfc_magic/scenes/nfc_magic_scene_gen4_show_rev.c
  nfc_magic/scenes/nfc_magic_scene_key_input.c
  nfc_magic/scenes/nfc_magic_scene_magic_info.c
  nfc_magic/scenes/nfc_magic_scene_not_magic.c
  nfc_magic/scenes/nfc_magic_scene_start.c
  nfc_magic/scenes/nfc_magic_scene_wrong_card.c
Labels: app:nfc_magic
